.background{
    background-color: white;
}
.cejasder{
    width: 200px;
    height: 20px;
    left: 120px;
    top: 20px;
    border-radius: 20%;
    position: absolute;
    color: rgb(108, 4, 4);
    transform: rotate(-5deg);
    box-shadow: 
    400px 20px 0 0 currentColor;
}
.cejaizq{
    width: 200px;
    height: 20px;
    left: 410px;
    top: 20px;
    border-radius: 20%;
    position: absolute;
    color: rgb(108, 4, 4);
    box-shadow: 
    400px 20px 0 0 currentColor;
}
.ojos{
    width: 80px;
    height: 80px;
    left: 250px;
    top: 50px;
    border-radius: 25%;
    position: absolute;
    color: rgb(0, 0, 0);
    box-shadow: 
    350px 40px 0 0 currentColor,
    600px 40px 0 0 currentColor;
}
.iris{
    width: 40px;
    height: 40px;
    left: 120px;
    border-radius: 35%;
    position: absolute;
    color: rgb(255, 255, 255);
    box-shadow: 
    250px 80px 0 0 currentColor,
    500px 80px 0 0 currentColor;
}
.nariz{
    width: 50px;
    height: 50px;
    left: 250px;
    top: 60px;
    border-radius: 10%;
    position: absolute;
    color: beige;
    box-shadow: 
    490px 120px 0 0 currentColor;
}
.Moustache {
    width: 180px;
    height: 180px;
    left: 250px;
    border-radius: 50%;
    position:absolute;
    color: rgb(108, 4, 4);
    box-shadow: 
        350px 240px 0 0 currentColor,
        500px 240px 0 0 currentColor;
}

.Moustache::before{
    content: " ";
    position: absolute;
    left: 230px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}

.Moustache::after{
    content: " ";
    position: absolute;
    left: 590px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}
.boca{
    width: 120px;
    height: 50px;
    left: 225px;
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 
    400px  30px 425px 0 0 currentColor;
}
